body {
  margin: 0;
  background: black;
  font-family: 'CS ChatThai', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
  font-family: 'FC Lamoon';
  src: url('/fonts/subset-FCLamoonBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'FC Lamoon';
  src: url('/fonts/subset-FCLamoonRegular.woff2') format('woff2');
  src: url('/fonts/subset-FCLamoonRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FC Lamoon';
  src: url('/fonts/subset-FCLamoonLight.woff2') format('woff2');
  src: url('/fonts/subset-FCLamoonLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'CS ChatThai';
  src: url('/fonts/CSChatThai.woff2') format('woff2');
  src: url('/fonts/CSChatThai.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1 {
  margin: 0;
}

.white-section {
  background: white;
  padding: 50px 10px;
  position: relative;
}
.white-section .container {
  max-width: 1200px;
  margin: auto auto;
  text-align: center;
}

.heading {
  font-family: 'FC Lamoon';
  font-size: 3.2rem;
  font-weight: lighter;
  position: relative;
  z-index: 999;
}

.heading.inline {
  display: inline-block;
}

.heading span {
  position: relative;
  z-index: 999;
}

.heading > .ellipse {
  width: 90px;
  height: 90px;
  top: -20px;
  left: -40px;
  z-index: 9;
  position: absolute;
  background: url(/img/ellipse.png) no-repeat center center;
  background-size: contain;
}

.content {
  font-family: 'CS ChatThai';
  font-size: 1.4rem;
}

.register-btn {
  font-family: 'FC Lamoon';
  font-size: 1.6rem;
  text-decoration: none;
  color: black;
  padding: 7px 40px;
  border-radius: 13.5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27);
  display: inline-block;
  cursor: pointer;
}

// Top landing page section
.landing {
  position: relative;
  height: 100vh;
  background: linear-gradient(to top, #99ccff, #ffffff);
}
.landing h1 {
  line-height: 50px;
}
.landing p {
  font-family: 'FC Lamoon';
  font-size: 1.6rem;
}
.landing .center {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 999;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}
.landing .logo {
  width: 280px;
  margin-bottom: 30px;
}
.landing .register-btn {
  background-color: #fff66d;
  margin-top: 50px;
}
.landing .countdown {
  margin-top: 50px;
}
.landing .countdown > .timer {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: -20px;
  font-family: 'FC Lamoon';
}
.landing .bubble {
  width: 100%;
  position: absolute;
  bottom: 0;
}

// About Section
.about .container {
  width: 700px;
}
.about .concept {
  font-size: 1.8rem;
}
.about .bubble {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
}

// Major Section
.major {
  width: 100%;
  padding: 70px 0;
  background: linear-gradient(to bottom, #99ccff, #d9ecff);
}

.major .heading {
  width: 90%;
  margin: auto auto;
  text-align: center;
}

.major .container {
  display: block;
  max-width: 1200px;
  margin: 60px auto 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.major .column {
  flex-basis: 50%;
  max-width: 680px;
  padding: 10px;
  margin: 0 10px;
  position: relative;
}

.major .column.is-left {
  text-align: left;
}

.major .column.is-right {
  text-align: right;
  margin-top: 0;
}

.major .column .image {
  position: absolute;
  z-index: 2;
  width: 200px;
  top: -30px;
}

.major .column.is-left .image {
  left: 0;
}

.major .column.is-right .image {
  right: 0;
}

.major .column .card {
  border-radius: 1000px;
  background-color: #ffffff;
  z-index: 1;
}

.major .column .card .content {
  margin: auto auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.major .column.is-left .card .content {
  padding-left: 200px;
  padding-right: 30px;
  margin-right: 25px;
}

.major .column.is-right .card .content {
  padding-right: 200px;
  padding-left: 30px;
  margin-left: 25px;
}

.major .column .card .content .title {
  font-family: 'FC Lamoon';
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0d0d0b;
  margin: 20px 0 0;
}

.major .column .card .content .register-btn {
  background-color: #ffffff;
  margin-bottom: 20px;
}

.major .column.is-left .card .content .register-btn{
  margin-right: 40px;
}

.major .column.is-right .card .content .register-btn{
  margin-left: 40px;
}

@media screen and (max-width: 570px), print {
  .major .column .image {
    width: 150px;
    top: -20px;
  }

  .major .column .card .content .title {
    font-size: 28px;
  }

  .major .column .card .content {
    font-size: 1rem;
  }

  .major .column.is-left .card .content {
    padding-left: 150px;
  }
  
  .major .column.is-right .card .content {
    padding-right: 150px;
  }
}

@media screen and (max-width: 1200px), print {
  .major .heading {
    width: 80%;
    margin: auto auto;
  }

  .major .container {
    flex-direction: column;
  }

  .major .column.is-left {
    align-self: flex-start;
  }

  .major .column.is-right {
    align-self: flex-end;
    margin-top: 40px;
  }
}

// Timeline Section
.timeline .grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}
.timeline .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;  
}
.timeline .card > .circle {
  background:#7da7d9;
  border-radius: 50%;
  width: 180px;
  height: 180px;
}
.timeline .card > .detail {
  font-family: 'FC Lamoon';
  font-size: 1.8rem;
  margin-top: 30px;
  margin-bottom: 7px;
}
.timeline .card > .datetime {
  font-size: 1.4rem;
  color: #0d0d0b;
}